.image-container {
    display: flex;
    min-height: 100vh;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.about-image {
    width: 100%;
    height: auto;
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.image-container.scrolled .about-image {
    max-width: 100vw;
    max-height: 100vh;
    border-radius: 0;
}

.about {
    padding: 40px;
}

.text p {
    box-sizing: border-box;
    font-style: normal;
    font-size: 33px;
    font-weight: 400;
    letter-spacing: -0.6px;
    margin: 50px 150px 50px 500px;
}

#text-bold {
    font-style: normal;
    display: block;
    font-weight: bold;
    font-size: 48px;
    letter-spacing: -0.96px;
    margin: 50px 300px 50px 500px;
}

#text-new {
    font-style: normal;
    font-size: 114px;
    font-weight: 700;
    letter-spacing: -2.28px;
    line-height: 126px;
    margin: 150px 112.338px 150px 112.338px;
}

.Boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* Adds space between the boxes */
    padding: 20px;
}

.Boxes h2 {
    /* padding: 50px; */
    width: 300px;
    /* Fixed width for uniformity */
    height: 200px;
    /* Fixed height for uniformity */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
    border-radius: 50px;
    /* Rounded corners for each box */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Adds a shadow for depth */
    margin: 10px;
    tab-size: 4;
    opacity: 1;
    text-size-adjust: 100%;
    text-align: left;
    /* transform: matrix(0.891789, 0, 0, 0.891789, 0, 0); */
    /* Adds margin around each box */
}

#one {
    display: block;
    box-sizing: border-box;
    background-color: rgb(138, 216, 192);
    width: 439.288px;
    font-size: 48px;
    line-height: 60px;
    font-weight: 600;
    min-height: 500px;
    margin: 0px;
    padding: 50px;

}

#two {
    display: block;
    box-sizing: border-box;
    background-color: rgb(198, 244, 89);
    width: 888.575px;
    font-size: 48px;
    line-height: 60px;
    font-weight: 600;
    min-height: 500px;
    margin: 0px;
    padding: 50px;
}

#three {
    display: block;
    box-sizing: border-box;
    background-color: rgb(243, 154, 142);
    width: 664px;
    font-size: 48px;
    line-height: 60px;
    font-weight: 600;
    min-height: 500px;
    margin: 0px;
    padding: 50px;
}

#four {
    display: block;
    box-sizing: border-box;
    background-color: rgb(133, 203, 218);
    width: 664px;
    font-size: 48px;
    line-height: 60px;
    font-weight: 600;
    min-height: 500px;
    margin: 0px;
    padding: 50px;
}

#five {
    display: block;
    box-sizing: border-box;
    background-color: rgb(156, 183, 235);
    width: 776.325px;
    font-size: 48px;
    line-height: 60px;
    font-weight: 600;
    min-height: 500px;
    margin: 0px;
    padding: 50px;
}

#six {
    display: block;
    box-sizing: border-box;
    background-color: rgb(178, 149, 206);
    width: 551.662px;
    font-size: 48px;
    line-height: 60px;
    font-weight: 600;
    min-height: 500px;
    margin: 0px;
    padding: 50px;
}