.contact {
    padding: 50px 20px;
    background-color: #fff;
}

.contact h3 {
    font-size: 32px;
    letter-spacing: -0.6px;
    line-height: 44px;
    font-weight: 400;
    margin: 50px 200px 30px 520px;
}

.contact p {
    font-size: 32px;
    letter-spacing: -0.6px;
    line-height: 44px;
    font-weight: 400;
    margin: 0px 200px 40px 520px;
}

.contact img {
    max-width: 320px;
    margin: 0px 200px 80px 520px;
}
